.form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.field-full-width {
    width: 40%;
}

.button {
    margin-top: 10px;
    margin-right: 10px;
}
