/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.success-snackbar {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.error-snackbar {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.confirm-snackbar {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;    
}